appdirs==1.4.4
beautifulsoup4==4.13.3
captum==0.8.0
certifi==2025.1.31
charset-normalizer==3.4.1
configparser==7.2.0
contourpy==1.3.1
cycler==0.12.1
filelock==3.18.0
fonttools==4.56.0
fsspec==2025.3.1
gdown==5.2.0
idna==3.10
Jinja2==3.1.6
joblib==1.4.2
kiwisolver==1.4.8
kymatio==0.3.0
MarkupSafe==3.0.2
matplotlib==3.10.1
mpmath==1.3.0
networkx==3.4.2
numpy==1.26.4
opencv-python==4.11.0.86
packaging==24.2
pillow==11.1.0
pyparsing==3.2.3
PySocks==1.7.1
python-dateutil==2.9.0.post0
requests==2.32.3
scikit-learn==1.6.1
scipy==1.15.2
setuptools==75.8.0
six==1.17.0
soupsieve==2.6
sympy==1.13.1
threadpoolctl==3.6.0
torch==2.6.0
torchaudio==2.6.0
torchvision==0.21.0
tqdm==4.67.1
typing_extensions==4.13.0
urllib3==2.3.0
wheel==0.45.1
